@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* グローバルなフォントスタイルを定義 */
html {
  --fontFamily: "Noto Sans JP", YuGothic, "Yu Gothic", "Avenir",
    "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

/* すべての文字にフォントファミリーを適用 */
* {
  font-family: var(--fontFamily);
}

/* 画面幅が600px以下の場合のスタイル */
@media (max-width: 600px) {
  p {
    font-size: 12.8px; /* 画面幅が600px以下の場合の文字サイズ */
  }

  .homepage-top p {
    font-size: 36px;
  }

  .home-advantage .contents h3 {
    font-size: 16px;
  }
}

/* 画面幅が600pxより大きい場合のスタイル */
@media (min-width: 601px) {
  p {
    font-size: 18px; /* 基本的な文字サイズを18pxに設定 */
  }
  .homepage-top p {
    font-size: 45px;
  }
  .home-advantage .contents h3 {
    font-size: 22.5px;
  }
}

.homepage-top {
  background-image: url("/home-main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  transition: background-color 0.3s ease;
}

.home-advantage {
  text-align: center;
  background-color: #fffbf4;
  width: 100%;
}

.home-advantage .contents h3 {
  font-weight: 700;
}

.home-news {
  text-align: center;
  width: 100%;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.home-company {
  text-align: center;
  width: 100%;
  background-color: #fffbf4;
  padding-top: 50px;
  padding-bottom: 10vh;
}

/* styles/globals.css */

.home-company .table {
  text-align: left;
}

.table {
  width: 100%;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.table-cell {
  border-bottom: 1px solid gray;
  padding: 8px;
}

.company-info {
  width: 80vw;
}

/* styles/globals.css */

footer {
  background-color: #f99607; /* オレンジ色 */
  color: white;
  padding: 20px 0;
  width: 100%;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  margin-bottom: 16px;
}

footer h2 {
  margin-bottom: 8px;
}

footer p {
  margin: 4px 0;
}
