@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --fontFamily: "Noto Sans JP", YuGothic, "Yu Gothic", "Avenir",
    "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  font-family: var(--fontFamily);
}

/* 画面幅が600px以下の場合のスタイル */
@media (max-width: 600px) {
  .homepage-top p {
    font-size: 36px;
  }

  .home-advantage .contents h3 {
    font-size: 16px;
  }
}

/* 画面幅が600pxより大きい場合のスタイル */
@media (min-width: 601px) {
  .homepage-top p {
    font-size: 45px;
  }
  .home-advantage .contents h3 {
    font-size: 22.5px;
  }
}

.homepage-top {
  background-image: url("/home-main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.home-advantage {
  text-align: center;
  background-color: #fffbf4;
  width: 100%;
}

.home-advantage-contents {
  max-width: 960px;
  margin: 0 auto;
}

.home-advantage .contents h3 {
  font-weight: 700;
}

.home-news {
  text-align: center;
  width: 100%;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.home-company {
  text-align: center;
  width: 100%;
  background-color: #fffbf4;
  padding-top: 50px;
  padding-bottom: 10vh;
}

/* styles/globals.css */

.home-company .table {
  text-align: left;
}

.table {
  width: 100%;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.table-cell {
  border-bottom: 1px solid gray;
  padding: 8px;
}

.company-info {
  width: 80vw;
}

/* styles/globals.css */

footer {
  background-color: #f99607; /* オレンジ色 */
  color: white;
  padding: 20px 0;
  width: 100%;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  margin-bottom: 16px;
}

footer h2 {
  margin-bottom: 8px;
}

footer p {
  margin: 4px 0;
}

.nav-bar-img {
  width: 9vw;
}

.contents-top {
  background-image: url("/contents-top.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100vw;
}

h2 {
  font-size: clamp(25.6px, 5vw, 36px);
}

p {
  font-size: clamp(16px, 4vw, 22.5px);
}

.contents {
  text-align: left;
  max-width: 480px;
}

.contents h3 {
  font-size: 22.5px;
  font-weight: 700;
}

.contents p {
  font-size: clamp(12.5px, 3vw, 18px);
}

.top-contents {
  max-width: 960px;
  margin: 0 auto;
}
